<%- include("../partials/header") %> 

<div class="container">
    <div class="jumbotron">
        <div class="container">
        <h1>Welcome to our database for mobile phones</h1>
        <p>View our hand picked mobiles from all over the world</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/mobiles/new">Add New Phone</a>
        </p>       
        </div>
        
    </div>
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% for(var i = 0; i< mobiles.length; i++){  %> 
        <div class="col-lg-4 col-md-4 col-sm-6 ">
            <div class="card" style="margin-bottom: 50px;">
                <img src="<%= mobiles[i].image %> " alt="Image not found " height="300px" width="157px" style="margin: auto;">
                <div class="card-body">
                    <h4><%= mobiles[i].name %></h4>
                </div>
                <p>
                    <a href="/mobiles/<%= mobiles[i]._id %> " class="btn btn-primary">More Info</a>
                </p>
              </div> 
        </div>
        <% } %> 
    </div>   
</div>


<%- include("../partials/footer") %> 